header{
    display: flex;
    background-color: rgb(198, 53, 53);
    color: white;
    margin-top: 10px;
    padding: 6px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    padding: 10px 15px;
}
.box{
    width: 750px;
    background-color: beige;
    margin-top: 50px;
}
label{
    margin-bottom:10px;
    font-size: medium;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
input[type="text"]{
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
}
input:focus{
    background-color: lightgray;
}
hr.new{
    border: 1px solid black;
}